*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body {
  color: $color-text;
  font-family: $font-text;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  color: $color-heading;
  font-weight: 600;
}

h1 {
  font-family: $font-heading-hero;
  font-size: 9.8rem;
  font-weight: 700;
}

h2 {
  font-size: 4.2rem;
}

h3 {
  font-size: 3.4rem;
}

h4 {
  font-size: 2.6rem;
}

h5 {
  font-size: 1.8rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  // max-width: 1200px;
  // margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.center-box {
  max-width: 1200px;
  margin: 0 auto;
}

// .center-nav {
//   width: 100%;
//   max-width: 1600px;
//   margin: 0 auto;
// }
