// .container {
//   @media (max-width: 630px) {
//   }
// }

.contact {
  width: 100%;
  height: 100%;
  margin-bottom: auto;
  padding: 9rem 3.2rem 16rem;
  display: flex;
  flex-direction: column;

  @media (max-width: 630px) {
    // justify-content: center;
    margin-bottom: 0;
    padding: 8rem 3.2rem 8rem;
    text-align: center;
  }

  &-heading {
    align-self: flex-start;
    margin-bottom: 0.8rem;
    text-align: center;

    @media (max-width: 630px) {
      // width: 100%;
      display: none;
    }
  }

  &-lead {
    align-self: flex-start;
    margin-bottom: 20vh;

    text-align: center;
    font-size: 2rem;

    @media (max-width: 630px) {
      // width: 100%;
      display: none;
    }
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8rem;

    @media (max-width: 630px) {
      gap: 4rem;
    }

    @media (max-width: 430px) {
      width: 260px;
      margin: 0 auto;
      gap: 6rem;
    }

    // .phone-number,
    // .email-address {
    //   font-size: 2.4rem;
    // }

    .endpoint {
      transition: 0.2s;

      &:hover {
        color: $dodger-blue;
        transform: scale(1.1);
      }
    }
  }
}
