.footer {
  // border-top: 1px solid $color-text;
  border-top: 1px solid #c7c7c7;

  background-color: white;
  padding: 1.6rem;
  padding-bottom: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.4;
  font-size: 1.4rem;

  &-link {
    padding: 0.6rem;
    cursor: pointer;

    .linkedin {
      transition: 0.2s;

      &:hover {
        // @include linkedin-animation(1.3);
        color: $dodger-blue;
        animation: in-bounce 4s infinite;

        @keyframes in-bounce {
          0% {
            transform: scale(1);
          }
          10% {
            transform: scale(1.3);
          }
          20% {
            transform: scale(1.3);
          }
          24% {
            transform: scale(1);
          }
          28% {
            transform: scale(1.3);
          }
          30% {
            transform: scale(1);
          }
          34% {
            transform: scale(1.3);
          }
          90% {
            transform: scale(1.3);
          }
        }
      }
    }
  }
}
