@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:wght@400;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");

*,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  min-height: 100vh;
  background-color: black;
  background-color: $ll;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
}

.circle {
  position: relative;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: 600;
  animation: disappear 1s 6s forwards;
}

.circle::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
  animation: grow 5s forwards;
}

.d {
  position: relative;
  opacity: 0;
  animation: appear 3s 2s forwards;
}

.c {
  position: relative;
  opacity: 0;
  animation: appear 3s 2s forwards;
}

@keyframes grow {
  0% {
    transform: scale(0);
    opacity: 0;
    border-color: darkslategrey;
    border-color: $nn;

    box-shadow: none;
  }

  40% {
    transform: scale(1);
    opacity: 1;
    border-color: darkslategrey;
    border-color: $nn;

    box-shadow: none;
  }

  80% {
    transform: scale(1);
    opacity: 1;
    border-color: darkslategrey;
    border-color: $nn;

    box-shadow: none;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    border-color: lime;
    border-color: $bb;

    box-shadow: 0 0 6px 1px lime, inset 0 0 6px 1px lime;
    box-shadow: 0 0 6px 1px $box-shadow-color,
      inset 0 0 6px 1px $box-shadow-color;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    color: darkslategrey;
    color: $nn;
    text-shadow: none;
  }

  66% {
    opacity: 1;
    color: darkslategrey;
    color: $nn;
    text-shadow: none;
  }

  100% {
    opacity: 1;
    color: hotpink;
    color: lime;
    color: $bb;
    text-shadow: 1px 1px 4px lime, -1px -1px 4px lime;
    text-shadow: 1px 1px 4px $box-shadow-color, -1px -1px 4px $box-shadow-color;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
