.navbar {
  // border-bottom: 2px solid #c7c7c7;
  border-bottom: 2px solid darkslategrey;

  // background-color: white;
  background-color: black;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 3.2rem;

  // transform: translateX(4000px);
  animation: slide-left 0.5s forwards;

  @keyframes slide-left {
    0% {
      transform: translateX(4000px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @media (max-width: 630px) {
    justify-content: center;
  }

  &-left {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    // @media (max-width: 630px) {
    //   width: 100%;
    //   margin-bottom: 4.8rem;
    // }

    &:hover {
      .logo {
        opacity: 0.9;
      }
    }

    .logo {
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
      // background-color: rebeccapurple;
      display: flex;
      justify-content: center;
      align-items: center;
      // color: white;
      font-size: 1.4rem;
      font-weight: 700;
      opacity: 0.6;
      transition: 0.2s;
    }

    .logo-current {
      background-color: rebeccapurple;
      color: white;
    }

    .myLogo {
      width: 72px;

      img {
        width: 100%;
      }
    }

    .newLogo {
      width: 6rem;
      height: 6rem;
      border: 3px solid darkslategrey;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: darkslategrey;
      font-size: 2.8rem;
      font-weight: 600;

      animation: logo-light 1s 2s forwards;

      @keyframes logo-light {
        0% {
          color: darkslategrey;
          border-color: darkslategrey;
        }
        100% {
          color: lime;
          border-color: lime;
        }
      }
    }

    .name {
      line-height: 1.1;

      &-heading {
        font-weight: 900;
        opacity: 0.8;
      }

      &-title {
        font-size: 1.6rem;
      }
    }
  }

  &-right {
    display: flex;
    // gap: 1.2rem;

    @media (max-width: 630px) {
      // width: 100%;
      margin: 0 auto;
      gap: 1.2rem;
    }

    &-link {
      padding: 1.2rem;
      font-size: 1.8rem;
      font-weight: 400;
      opacity: 0.8;
      transition: 0.2s;

      @media (max-width: 630px) {
        position: relative;
        font-size: 1.6rem;
        font-weight: 500;
        // border: 1px solid #c7c7c7;
        // border-radius: 50%;
        // width: 8rem;
        // height: 8rem;
        // display: flex;

        // &::before {
        //   position: absolute;
        //   top: 50%;
        //   left: 50%;
        //   transform: translate(-50%, -50%);
        //   content: "";
        //   width: 8rem;
        //   height: 8rem;
        //   border: 1px solid rgba(168, 168, 168, 0.3);
        //   box-shadow: 0 0 8px rgba(168, 168, 168, 0.3);
        //   border-radius: 50%;
        //   z-index: -5;
        // }
      }

      &:hover,
      &:focus {
        // opacity: 1;
        color: $dodger-blue;
        // color: rgb(56, 32, 80);
        // text-shadow: 0 0 8px rgba(56, 32, 80, 0.5);
        // color: #4361ee;
        // text-shadow: 0 0 8px rgba(67, 98, 238, 0.6);
        // box-shadow: 0 0 6px rgba(56, 32, 80, 0.3);
      }
      &:active {
        background-color: transparent;
        box-shadow: none;
      }
    }

    // [href$="resume.html"]:hover,
    // [href$="projects.html"]:hover,
    // [href$="contact.html"]:hover {
    //   position: relative;
    //   color: white;

    //   &::before {
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    //     content: "";
    //     width: 8rem;
    //     height: 8rem;
    //     border-radius: 50%;
    //     background-color: rebeccapurple;
    //     opacity: 0.8;
    //     z-index: -5;
    //   }
    // }

    // [href$="projects.html"]:hover {
    //   &::before {
    //     background-color: $persian-blue;
    //   }
    // }

    // [href$="contact.html"]:hover {
    //   &::before {
    //     background-color: $ultramarine-blue;
    //   }
    // }
  }
}

// .current {
//   cursor: default;
//   box-shadow: inset 0 0 6px rgba(56, 32, 80, 0.2);
//   color: rgba(67, 98, 238, 0.7);

//   &:hover,
//   &:focus {
//     box-shadow: inset 0 0 6px rgba(56, 32, 80, 0.2);
//     color: rgba(67, 98, 238, 0.7);
//   }
// }
.current {
  position: relative;
  color: white;

  cursor: default;

  &:hover {
    color: white;
    opacity: 0.8;
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 8rem;
    height: 8rem;
    box-shadow: 0 0 12px rgba(168, 168, 168, 0.6);
    // box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);

    border-radius: 50%;
    opacity: 0.8;
    z-index: -5;
  }
}

.resume-bg,
.projects-bg,
.contact-bg {
  position: relative;
}
// .resume-bg::before,
// .projects-bg::before,
// .contact-bg::before {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   background-color: rebeccapurple;
//   width: 8rem;
//   height: 8rem;
//   border-radius: 50%;
// }

.resume-bg::before {
  background-color: rebeccapurple;
}

.projects-bg::before {
  background-color: $persian-blue;
}

.contact-bg::before {
  background-color: $ultramarine-blue;
}
