$champagne-pink: #ebd4cb;
$pastel-pink: #da9f93;
$popstar: #b6465f;
$burgundy: #890620;
$dark-sienna: #2c0703;

$flickr-pink: #f72585;
$byzantine: #b5179e;
$purple: #7209b7;
$purple-darker: #560bad;
$tryptan-blue-lighter: #480ca8;
$tryptan-blue: #3a0ca3;
$persian-blue: #3f37c9;
$ultramarine-blue: #4361ee;
$dodger-blue: #4895ef;
$vivid-sky-blue: #4cc9f0;

// new colors
// bcg
$ll: #0b2942;
// bcg-color
$kk: #043254;
//  color
$mm: #d7dbe0;
// color(with opacity lowered)
$nn: rgba(215, 219, 224, 0.6);
$uu: rgba(215, 219, 224, 0.3);

// color(aqua)
$bb: #05dcc8;
// bcg(aqua)
$jj: #05dcc8;
// color(dark)
$hh: #051428;
// color(link)
$gg: #007bff;
// bcg-color(dark)
$ff: #051428;
// input bcg-color
$rr: rgba(11, 41, 66, 0.8);
// box-shadow(hover) 0 0 30px
$box-shadow-color: rgb(5 220 200 / 30%);
