$champagne-pink: #ebd4cb;
$pastel-pink: #da9f93;
$popstar: #b6465f;
$burgundy: #890620;
$dark-sienna: #2c0703;

$flickr-pink: #f72585;
$byzantine: #b5179e;
$purple: #7209b7;
$purple-darker: #560bad;
$tryptan-blue-lighter: #480ca8;
$tryptan-blue: #3a0ca3;
$persian-blue: #3f37c9;
$ultramarine-blue: #4361ee;
$dodger-blue: #4895ef;
$vivid-sky-blue: #4cc9f0;
