$font-heading-hero: "Work Sans", sans-serif;
$font-heading: "Lato", sans-serif;
$font-heading: "Montserrat", sans-serif;
$font-text: "Poppins", sans-serif;

// $color-text: rgb(52, 56, 68);
$color-text: lightgreen;

$color-heading: rgb(22, 33, 63);
$color-heading: lightgreen;
